.button {
    margin-left: 3px;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    width: 100%
}

.modify_button {
    display: flex;
}

.radio_box {
    border-style: ridge;
}

.radio_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

}

.save_question_border {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.save_question_box {
    padding: 10px;
    border-style: ridge;
    background-color: purple;
    margin-bottom: 10px;
}

.textarea {
    width: 200px;
    height: 100px;
}

/* everything under this are table related */

table {
    border-collapse: collapse;
}

tr:nth-child(1) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    font-size: 25px;
}

th,
td {
    padding: 5px;
    font-weight: 600;
}

th:nth-child(1),
td:nth-child(1) {
    border: solid black;
    border-width: 1px 1px 1px 1px;
}

th:nth-child(2),
td:nth-child(2) {
    border: solid black;
    border-width: 1px 1px 1px 1px;
}

th:nth-child(3),
td:nth-child(3) {
    border: solid black;
    border-width: 1px 1px 1px 1px;
}