.header div {
    display: flex
}

.header_information {
    display: flex;
    margin-top: 10px;
}

.header_links {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;

}

.nav_login {
    margin-left: auto;
    margin-right: 100px;
}