.container__create_survey {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
}

.box {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.info {
    background-color: lightsteelblue;
}

.create {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    border-radius: 5px;
    width: 100%;
    max-height: 80vh;
    padding: 10px;
    margin: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: unset;
    -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* hide scrollbar for Firefox */
}

.create::-webkit-scrollbar {
    width: 10px;

}

.create::-webkit-scrollbar-track {
    background: lightsteelblue;
    border-radius: 5px;
}

.create::-webkit-scrollbar-thumb {
    background: #8dafe2;
    border-radius: 5px;
}

.create ul {
    list-style: none;
}

.question {
    background-color: #8dafe2;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.question_input {
    width: fit-content;
}

.close {
    height: fit-content;
    width: fit-content;
    margin: 2px auto;
}