.gif_container,
.gif_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_text {
    margin-bottom: 100px;
}

.header_information {
    display: flex;
    justify-content: space-around;
    width: 15%
}

.li {
    list-style: none;
}