.surveyquestion.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* De box rond de table van fetchedanswers. */
.fetchanswers_box {
    width: 200px;
    margin-left: 100px;
}

/* Alles voor de tables van de questions zelf in SurveyQuestions.jsx*/
.surveyquestion_table th:nth-child(1),
.surveyquestion_table td:nth-child(1) {
    border: solid black 1px;
    text-align: center;
}

.surveyquestion_table th:nth-child(2),
.surveyquestion_table td:nth-child(2) {
    border: solid black 1px;
    padding: 10px 10px;
}

/* Alles voor de tables van fetched answers in SurveyQuestions.jsx */
.fetchedanswers_table th:nth-child(1),
.fetchedanswers_table td:nth-child(1) {
    border: solid black 1px;
    padding: 0;
    text-align: center;
}

.fetchedanswers_table th:nth-child(2),
.fetchedanswers_table td:nth-child(2) {
    border: solid black 1px;
    padding: 10px 10px;
}

.fetchedanswers_table th:nth-child(3),
.fetchedanswers_table td:nth-child(3) {
    border: solid black 1px;
    padding: 0;
}

.boxx1 {
    width: 10px;
}

.boxx3 {
    margin-top: 50px;
    width: 10px;
}

.boxx2 {
    margin-top: 50px;

}

.surveyquestion_container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}