.survey {
    background-color: #8dafe2;
    border-radius: 5px;
    width: available;
    height: fit-content;
    padding: 10px;
    margin: 10px;
}

.survey ul {
    list-style: none;
}

.survey textarea {
    height: 200px;
    width: 400px;
}

.navigation .prev {
    float: left;
}

.navigation .next {
    float: right;
}

.navigation .submit {
    margin-left: 25%;
}